body, .App {
  background-color: #343a40; /* Same color as your navbar */
  color: white; /* To ensure text is readable on dark background */
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Beespoke-logo-main {
  height: 100px;
  pointer-events: none;
}

.Banner-main {
  max-width: fit-content;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px; /* Adjusted padding */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  margin-top: 20px; /* Ensure there is some margin at the top */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
